.header {
    background: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 20px;

    border-radius: 12px;
    margin-bottom: 25px;

    border: 1px solid #e2e8f0;
}

.clear-btn {
    background: white;
    border: 1px solid #cbd5e1;
    padding: 10px 18px;
    border-radius: 8px;
}